In [2]:
space_string1 = "\n    listen first      \t"
print(space_string1)
print(space_string1.strip())

    listen first
listen first

In [4]:
var = '\n\nahmet\nmehmet        '
print(var)
print(var.strip())

ahmet
mehmet
ahmet
mehmet

In [16]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides  BÜTÜN KOMBİNASYOLARINA BAKAR.

print()

print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side

print()

print(source_string.rstrip("yi"))  
print(source_string.rstrip("y, t, i, n"))  
# removes "y" or "t" or "yt" or "ty" from the right side

nteroperabilit

teroperability

interoperabilit
interoperabil

In [22]:
text = "Ine Goed weee Trust"
print(text.replace("e","",4)) # ilk e'yi sildi

In God we Trust

In [24]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.3)
        #.dan sonra 2 basamak aldı, 3 basamak aldı ,4 basamak aldı
text

'3.15, 5.367, 7.3000'

In [26]:
tex = "formatlama satırı '{:>20}'@burada ilk kel biter. ikinci kelime başlar.@ '{:<20}'". format
print(tex)

<built-in method format of str object at 0x0000023DE20805D0>

In [29]:
list("clarusway")[2]

'a'

In [30]:
a = [1, 2, 3]
print(a)
list(a)

[1, 2, 3]

[1, 2, 3]

In [38]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)
country1 = ('USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand')
print(country1)
country2 = {'USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand'}
print(country2)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
('USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand')
{'Turkey', 'Germany', 'UK', 'Brasil', 'USA', 'New Zealand'}

In [39]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [42]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)
country.append("dede")
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand', 'dede']

In [45]:
listem= []
listem1 = list()
print(listem,listem1)

[] []

In [51]:
kardeşler = ["ali", "veli"]
kardeşler.append("deli")  #ekledi
print(kardeşler[0])
kardeşler.insert(0,"keli")  #ekledi
print(kardeşler[0])

ali
keli

In [60]:
empty = list()
empty.append(1)
empty.append("1")
empty.append([])
print(empty)
empty.insert(5,"dene")
print(empty)
empty.append("1")
print(empty)
empty.remove("1")
print(empty)
empty.insert(55, "enson")
print(empty)

[1, '1', []]
[1, '1', [], 'dene']
[1, '1', [], 'dene', '1']
[1, [], 'dene', '1']
[1, [], 'dene', '1', 'enson']

In [63]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)
city.reverse()
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
['Sydney', 'Stockholm', 'Seoul', 'New York', 'Istanbul', 'Addis Ababa']

In [66]:
my_list = [1, 3, 5, 7]
print(my_list * 3)
print(*my_list)
print(len(my_list * 3)) # 12 elemanı vardır.

SyntaxError: cannot use starred expression here (520889786.py, line 4)

In [77]:
sayılar1 = [5, 8, 1, 77, 3, 99]
sayılar1.sort()
sayılar1       # küçükten büyüğe sıraladı.

[1, 3, 5, 8, 77, 99]

In [78]:
print(sayılar1)
sayılar1.reverse()
print(sayılar1)

[1, 3, 5, 8, 77, 99]
[99, 77, 8, 5, 3, 1]

In [92]:
list_1 = [[1,3], [4, -4], [-5,1]]
list_1.sort()
list_1

[[-5, 1], [1, 3], [4, -4]]

In [102]:
ord('A')

65

In [103]:
chr(65)

'A'

In [112]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2:0:-1])
print(type(colors))
print(type(colors[0]))

['blue', 'purple']
<class 'list'>
<class 'str'>

In [113]:
list1 = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], ['isa', 'Musa', 'Arda']]
print(len(list1)) # içinde 2 liste olan listedir.
print(list1[1][2]) # ikinci listenin 3üncü elemanı
print(list1[0][0])  # birinci listenin birinci elemanı
print(list1[1][2][3])

2
Arda
New York
a

'n'

In [129]:
list(range(10, -1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [130]:
count = list(range(11)) #11'e kadar olan sayıları listele
print(count)
print(count[0:11:2]) # start-en baştan  stop-11de  step-2'şer say
print(count)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [131]:
print(len([[12, 5, 8]] [0]))  # listenin [0]ıncı indexinin [12,5,8] eleman sayısını soruyor, 3 elemanı var

print(len([[12, 5, 8], [1]][1])) # listenin [1]ıncı indexinin [1] eleman sayısını soruyor, 1 elemanı var

3
1

In [137]:
try_tuple = ('love') # iki tırnak arasındaki değer stringdir.
                     # 'love' dan sadece virgül koyup bıraksaydık bu bir tuple olurdu. 
print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [145]:
a = tuple([1,2,3])
b = tuple()
print(a,b)
print(type(a), type(b))

(1, 2, 3) ()
<class 'tuple'> <class 'tuple'>

In [146]:
my_tuple = (1, 4, 3, 4, 5, 6, 7, 4)   # tuple liste dönüşümü

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [148]:
mix_value_tuple = (0, 'bird', 3.14, True, '0.jmp12')
bb = list(mix_value_tuple )
print(bb)
print(mix_value_tuple[2])

[0, 'bird', 3.14, True, '0.jmp12']
3.14

In [149]:
list(123)

TypeError: 'int' object is not iterable

In [150]:
mytup = tuple(range(1,11))
print(mytup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [151]:
mix_tuple = ("11", 11, [2, "two", ("six",6)], (5, "fair"))
fair1 = mix_tuple[3][1]
fair2 = mix_tuple[-1][1]
print(fair1, fair2)

fair fair

In [154]:
first_dict = {1 : "one", "two" : 2, False : [1,2,3], 1.5 : ("one", "two"), (1,2) : "clarusway" }
print(first_dict)

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'clarusway'}

In [158]:
dict(a1 = "bir")

{'a1': 'bir'}

In [162]:
# YENİ KEY-VALUE ÇİFTİ = ITEM EKLEME

state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item
state_capitals['Arkansas'] = 'grgr' # adding a new item
state_capitals[' '] = 'grgr' # adding a new item

print(state_capitals)

{'Arkansas': 'grgr', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond', ' ': 'grgr'}

In [164]:
family = {
  "anne" : "demet",
  "baba" : "musfa",
  "kız" : "zeyno"
}
family

{'anne': 'demet', 'baba': 'musfa', 'kız': 'zeyno'}

In [166]:
family["erkek"] = "emre"
family

{'anne': 'demet', 'baba': 'musfa', 'kız': 'zeyno', 'erkek': 'emre'}

In [167]:
print(family.items())
print(family.keys())
print(family.values())

dict_items([('anne', 'demet'), ('baba', 'musfa'), ('kız', 'zeyno'), ('erkek', 'emre')])
dict_keys(['anne', 'baba', 'kız', 'erkek'])
dict_values(['demet', 'musfa', 'zeyno', 'emre'])

In [168]:
family.update({"animal" : "dog"})
family

{'anne': 'demet',
 'baba': 'musfa',
 'kız': 'zeyno',
 'erkek': 'emre',
 'animal': 'dog'}

In [169]:
del family["animal"]
family

{'anne': 'demet', 'baba': 'musfa', 'kız': 'zeyno', 'erkek': 'emre'}

In [172]:
"annem" not in family

True

In [175]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [176]:
school_records["personal_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elementary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [177]:
import json

In [183]:
teen = '{"class": "college", "age": 19}'
y = json.loads(teen)
print(y)
print(y["age"])

{'class': 'college', 'age': 19}
19

In [184]:
marry = {'class': 'high school', 'age': 16}
print(json.dumps(marry))

{"class": "high school", "age": 16}

In [190]:
family

{'anne': 'demet', 'kız': 'zeyno', 'erkek': 'emre', 'father': 'musfa'}

In [192]:
family["mother"] = family.pop("anne")

family

{'kız': 'zeyno', 'erkek': 'emre', 'father': 'musfa', 'mother': 'demet'}

In [193]:
dicto = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

In [196]:
list(dicto.keys())

['animal', 'planet', 'number', 'pi', 'is_good']

In [201]:
family.update({"teyze" : "esra"})
family.update({"teyze" : "dilek"})
family.update({"hala" : "bahar"})
family

{'kız': 'zeyno',
 'erkek': 'emre',
 'father': 'musfa',
 'mother': 'demet',
 'teyze': 'dilek',
 'hala': 'bahar'}

In [205]:
pairs = {1: "apple",
    "orange": [2, 3, 4], 
    True: False, 
    None: "True",
}

print(pairs.get("orange", "not in dictionary"))
print(pairs.get(7, "not yok"))
print(pairs.get(12345, "yok"))

[2, 3, 4]
not yok
yok

In [206]:
books = {
    "Life of Pi": "Adventure Fiction", 
    "The Three Musketeers": "Historical Adventure",
    "Watchmen": "Comics", 
    "Bird Box": "Horror",
    "Harry Potter":"Fantasy Fiction",
    "Good Omens": "Comedy"
}

In [212]:
book = input("book name:")
if book in books:
      print("Type of" , book, "is" ,books[book])
else:
    print("Book not found")
  
print(books.get(book, "Book not found"))

Book not found
Book not found

In [3]:
print(int("ten"))

ValueError: invalid literal for int() with base 10: 'ten'

In [8]:
try:
  print(int("ten"))
except ValueError as e:
  print(f"wrong {e}")

wrong invalid literal for int() with base 10: 'ten'

In [7]:
try : 
    print("Ben birinci kod satırıyım.") # Exception hatası olduğu için hatalı koda kadar çalışır.
    x = 2/0
    print("Bende sıkıntı yokmuş demek ki bak çalıştım.")
except :
    print("Bir şeyler ters gitti.")

Ben birinci kod satırıyım.
Bir şeyler ters gitti.

In [12]:
x = 10
y = 20

try:
  print(X)
except Exception as e:
  print(e)

name 'X' is not defined

In [25]:
num_1 = 250
num_2 = [1, 2, 3, 5, 0, 8, 9, 20]
res_list = []


for i in num_2:
  try:
    res_list.append(num_1/i)
  except Exception as e:
    print(i)

print(res_list)

0
[250.0, 125.0, 83.33333333333333, 50.0, 31.25, 27.77777777777778, 12.5]

In [ ]:
try:
  res = num_1 / num_2
  print(res)
except ZeroDivisionError as e:
  print(e)